* {
font-family: 'Fira Mono', monospace;
}

.logo {
    text-align: center;
    height: 15vh;
}

.hero {
    height: 85vh;
    background-color: purple;
    display: flex;
    gap: 48px;
    align-items: center;
}

@media (max-width: 800px) {
    .hero {
        display: flex;
        flex-direction: column;
        gap: 8px; 
    }
}